.dropbtn1,.dropbtn2,.dropbtn3,.dropbtn {
  
  color: black;
  padding: 4px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
}

.dropbtn:hover,.dropbtn1:hover,.dropbtn2:hover,.dropbtn3:hover{
	 background-color: grey;
	} 
.dropbtn:focus,.dropbtn1:focus,.dropbtn2:focus,.dropbtn3:focus {
  background-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content,.dropdown-content1,.dropdown-content2,.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a,.dropdown-content1 a,.dropdown-content2 a,.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: grey;}

.show {display: block;}


.link_decor{
  padding: 5px;
  border: 1px solid black;
  background-color: lightgrey;
  text-decoration: none;
  color: black;
}

.center_feild{
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper{
      display:grid;
      
      grid-template-columns:20% 80%;
      grid-auto-rows: minmax(100px, auto);
    } 

  div.scroll {
  background-color: white;
  border:1px solid black;
  width: 100%;
  height: 20em;
  overflow: scroll;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


  
.wrapper_execute{
  display: grid;
  grid-template-columns:2fr 1fr 2fr;
  grid-gap:1em;
  grid-auto-rows: minmax(6em, auto);
}     
.box1{

} 
.box2{
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}
.box3{
  grid-column: 3/4;
  grid-row: 1/3;
}
.box4{
  grid-column: 1/3;
}

table, th, td {
  border: 1px solid black;
}



